*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: #289df6;

}
body{
    background: var(--cor1)
}
div{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    /*background-color: rgba(0, 128, 0, 0.548);*/
    background-color: #fff;
    border-radius: 30px;
    width: 600px;
    height: 450px;
}
h1{
    font-weight: normal;
    font-size: 2.4em;
}
.a{
    font-size: 1.2em;
}
.p{
    font-size: 1.2em;
    margin-left: -1px;
    margin-right: 5px;
}
#altura, #peso{
    margin-top: 30px;
    border-radius: 6px;
    border: 2px groove black;
    font-size: 1.3em;
    width: 100px;
    height: 23px;
}
#label{
    
    font-size: 1.2em;
    margin-right: 10px;
}
.s{
    height: 15px;
    margin: 30px 4px 10px 0px;
}
.s:hover{
    cursor: pointer;
}
#botao, #limpar{
    background: #289df6;
    border-radius: 10px;
    border: 1.8px solid black;
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin: 20px 30px 40px 30px;
    color: white;
}
#botao:hover,#limpar:hover{
    cursor: pointer;
    color: #000;
    transition: .4s;
}
#resultado, #ideal{
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    text-align: center;  
    height: 200px;
    width: 20px;
}
